<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Documento sin t&iacute;tulo</title>
</head>

<body>
<% if @box_labels == "short" %>
  <% j = 0%>
  <% @data.each { |place| %>
    <% j += 1%>
    <% place[:boxes].length.times do %>
      <CENTER><B><U><font size="4" color = <%= j%2 == 1 ? "black" : "grey" %> ><%= place[:title] -%> (<%= place[:boxes].length %>)</font></U></B></CENTER>
    <% end %>
  <% } %>
  <!-- PAGE BREAK -->
<% end %>

<% if @box_labels == "detailed" %>
  <% @data.each { |place| %>
    <% j = 0%>
    <% num_boxes = place[:boxes].length %>
    <% place[:boxes].each { |box| %>
      <% j += 1%>
      <h1><%= place[:title] %></h1>
      <h3><%= _("Box #{j} of #{num_boxes}") %></h3>
      <% count = box.length %>
      <h3><%= _("#{count} laptops") %></h3>
      <br><br>
      <ol><font size="26">
      <% box.each { |student| %>
        <li><%= student[:full_name] %><br><br></li>
      <% } %>
      </font></ol>
      <!-- PAGE BREAK -->
    <% } %>
  <% } %>
<% end %>


<% color = 1 %>
<% @data.each { |place| %>

<% if @laptop_name_labels %>
  <% place[:boxes].each { |box| %>
    <% box.each { |student| %>
      <%= student[:full_name] %><br><br>
    <% } %>
  <% } %>
  <br><br>
<% end %>

<% color += 1 %>
<table align="center" border="4" bordercolor = <%= color%2 == 0 ? "black" : "grey" %> border-style = <%= color%2 == 0 ? "solid" : "dotted" %> >

<% i = 0 %>
<% place[:boxes].each { |box| %>
<% box.each { |student| %>

   <% if i % @num_of_cols == 0 %>
   <tr>
   <% end %>
   <td>  
     <table  align="center" style="page-break-inside: avoid;">
       <tr align="center"><td rowspan=3><img src="/images/hack.png" height=50 width=0></td><td  align="center"> <font size="1"> <%= student[:name] -%> </font> </td> </tr>
       <tr align="center"><td  align="center"> <font size="0"> <%= student[:place] -%> </font> </td> </tr>
       <tr align="center"><td  align="center"> <%= barcode(student[:barcode]) -%> </td></tr>
     </table>
   </td>
   <% if (i+1) % @num_of_cols == 0 %>
     </tr>
   <% end %>

<% i += 1 %>
<% } %>
<% } %>
%>

</table><br>

<% } %>
</body>
</html>
