<center><h1><%=_("Movements per Type")%></h1></center>

<b><%=_("Date")%>: </b> <%= @fecha_desde -%> <%=_("to")%> <%= @fecha_hasta -%> 

<table>

<tr>
   <td><b><%=_("Type")%></b></td>

   <% if @partOpts.include? "laptop" %>
   <td><b><%=_("Amount")%></b></td>
   <% end %>
</tr>


<% @mtypes.each { |m|  %>

<tr>
   <td><%= m[:desc] -%></td>

   <% if @partOpts.include? "laptop" %>
   <td><%= m[:total_laptop] %></td>
   <% end %>

   <% if @partOpts.include? "battery" %>
   <td><%= m[:total_battery] %></td>
   <% end %>

   <% if @partOpts.include? "charger" %>
   <td><%= m[:total_charger] %></td>
   <% end %>

   <td><%= m[:total] -%></td>
</tr>

<% } %>

</table>
