<center><h1><%=_("Delivery")%></h1></center>

<b><%=_("Date:")%> </b> <%= @fecha_desde -%> a <%= @fecha_hasta -%> 

<table>
<tr>
   <td><b><%=_("#")%></b></td>
   <td><b><%=_("Date")%></b></td>
   <td><b><%=_("Article")%></b></td>
   <td><b><%=_("Serial number")%></b></td>
   <td><b><%=_("From")%></b></td>
   <td><b><%=_("To")%></b></td>
   <td><b><%=_("Reason")%></b></td>
</tr>

<% @movimientos.each { |m|  %>

<tr>
   <td><%= m[:mov_num] -%></td>
   <td><%= m[:mov_date] -%> </td>
   <td><%= m[:mov_obj] -%> </td>
   <td><%= m[:mov_srl] -%> </td>
   <td><%= m[:mov_from] -%> </td>
   <td><%= m[:mov_to] -%> </td>
   <td><%= m[:mov_type] -%> </td>
</tr>

<% } %>

</table>

