<% @datos.each { |place|  %>

<h2><%= place[:name] %></h2>
<table align="center">
<tr>
   <%@columnas.each { |t| %>
   <td><b><CENTER><u><%=t%></u></CENTER></b></td>
   <%}%>
</tr>

<% i = 0 %>
<% place[:data].each { |m|  %>
<% i += 1 if ['person', 'person_no_laptop'].include?(m[:type]) %>
<% bg_attr = i%2 == 1 ? "bgcolor='#dedede'" : "" %>

<tr <%= bg_attr -%> >
   <% if m[:type] == 'person' %>
   <td align="center"><font size=1><%= i %></font></td>
   <td align="center"><font size=1><%= m[:name] %></font></td>
   <td align="center"><font size=1><%= m[:doc_id] %></font></td>
   <td align="center"><font size=1><%= m[:laptop_sn] %><%= (" (" + m[:status] + ")") if m[:status] %></font></td>
   <td align="center"><font size=1><%= m[:delivered] ? _("Yes") : raw("<font color=red>") + _("No") + raw("</font>") %></font></td>
   <% end %>

   <% if m[:type] == 'multiple' %>
   <td align="left"></td>
   <td align="left" colspan="2"><font size=1 color=red><%= _("Person has multiple laptops!") %></b></td>
   <td align="center"><font size=1><%= m[:laptop_sn] %><%= (" (" + m[:status] + ")") if m[:status] %></font></td>
   <td align="center"><font size=1><%= m[:delivered] ? _("Yes") : raw("<font color=red>") + _("No") + raw("</font>") %></font></td>
   <% end %>

   <% if m[:type] == 'person_no_laptop' %>
   <td align="center"><font size=1><%= i %></font></td>
   <td align="center"><font size=1><%= m[:name] %></font></td>
   <td align="center"><font size=1><%= m[:doc_id] %></font></td>
   <td align="center"><font size=1 color=red><%= _("None") %></font></td>
   <td align="center"></td>
   <% end %>

   <% if m[:type] == 'person_notes' %>
   <td align="left"></td>
   <td colspan=4><font size="0.5"><%= _("Notes: %s") % m[:notes].gsub(/\r?\n/, "<br />") %></font></td>
   <% end %>

</tr>

<%
  } 
%>

</table> 
<!-- PAGE BREAK -->
<% } %>

